:root {
    --primary: #ff2c2c;
    --secondary: #010101;
    --bg: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg);
    color: var(--secondary);
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3%;
    background-color: rgba(40, 40, 40, 1);
    border-bottom: 1px solid #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom-style: solid;
    border-color: var(--bg);
}

.navbar .navbar-logo {
    font-size: 1.7rem;
    font-weight: 500;
    color: #ffffff;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #ffffff;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1.3rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-extra a{
    color: #ffffff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

#search {
    background: none;
    color: var(--bg);
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#search:hover {
    color: var(--primary);
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 80%; 
    }
}

/* Tablet */
@media (max-width: 800px) {
    html {
        font-size: 65%;
    }

    /* Navbar */
    #hamburger-menu {
        display: inline-block;
        background: none;
        color: var(--bg);
    }

    #search {
        display: block;
        /* opacity: 0; */
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: rgba(1, 1, 1, 0.8);
        width: 25rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        left: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 1rem;
        font-size: 1.5rem;
    }
}

/* Mobile Phone */
@media (max-width: 450px) {
    html {
        font-size: 60%;
    }
}